@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.line {
    padding-top: 20px;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid #7FD3D5;
}

.prevBtn,
.nextBtn {
    position: absolute;
    border: none;
    background-color: transparent;
}

.prevBtn {
    top: 30%;
    left: -5%;
}

.nextBtn {
    top: 30%;
    right: 0%;
}

.slick-dots {
    bottom: -75px !important;
}

.slick-dots li button:before {
    font-size: 12px !important;
    color: #00a8ab !important;
}

@media(max-width: 1300px) {
    .prevBtn {
        left: -2%;
    }
}

@media(max-width: 1000px) {

    .nextBtn,
    .prevBtn {
        top: 40%;
    }

    .prevBtn {
        left: -3%;
    }

    .nextBtn {
        right: 2%;
    }
}

@media(max-width: 576px) {
    .prevBtn {
        left: -5%;
    }
}