.Pagination {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.productionCard {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.sliderInfo {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  h1 {
    color: #00a8ab;
    text-align: center;
    font-family: Inter;
    font-size: 15.75px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 133.333% */
    text-decoration-line: underline;
  }
  p {
    color: #666;
    text-align: center;
    font-family: Inter;
    font-size: 12.188px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 147.692% */
  }
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.preparats {
  padding-bottom: 50px;
}
.paginate {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  button {
    border: none;
    background-color: transparent;
  }
}
.paginationBtn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btnPaginate {
  border: none;
  background-color: transparent;
  color: #00a8ab;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  cursor: pointer;
  &:hover {
    color: red;
  }
}
.line1 {
  margin-top: 100px;
  border-top: 1px solid #daf3f3;
}
.activePage {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 7px 10px;
}
.searchInput {
  position: relative;
  max-width: 1100px;
  margin: auto;
}
.text {
  display: inline-flex;
  height: 31px;
  padding: 8.5px 36px 8.5px 14px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #d6d5db;
  color: #b2b2b2;
  font-family: Inter;
  font-size: 11.063px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: 0;
  &:hover {
    border-color: aqua;
  }
}
.submit {
  background-image: url(/imgs/search.png);
  background-repeat: no-repeat;
  border: none;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 32%;
  left: 30%;
  cursor: pointer;
  outline: 0;
}
.sort,
.searchInput {
  margin-top: 30px;
  display: flex;
  padding: 6px 355.64px 5px 15px;
  align-items: center;
  gap: 53.8px;
  background: #f2f2f2;
  box-shadow: 0px 15px 15px -17px #818c94;
  h2 {
    color: #333;
    font-family: Inter;
    font-size: 11.813px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 152.381% */
  }
  select {
    width: 310.63px;
    height: 26px;

    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #d6d5db;
    background: #fff;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1) inset;
  }
}
.animals {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1100px) {
  .sort,
  .searchInput {
    padding: 6px 255.64px 5px 15px;
  }
}
@media (max-width: 968px) {
  .productionCard {
    // padding: 0px 0px 0px 50px;
    gap: 0px;
  }
  .sliderInfo {
    width: 50%;
  }
  .submit {
    left: 50%;
  }
  .sort {
    padding: 6px 435.64px 5px 15px;
    select {
      width: 100%;
    }
  }
}
@media (max-width: 576px) {
  .sort,
  .searchInput {
    padding: 6px 195.64px 5px 15px;
    gap: 20px;
  }
  .text {
    padding: 8.5px 6px 8.5px 14px;
  }
  .submit {
    left: 75%;
  }
  .productionCard {
    width: 100%;
  }
  .sliderInfo {
    width: 100%;
  }
}
